<span><a href="/profile" class="btn navbar">Your profile</a></span>
<span><a onclick="goBack()" class="btn navbar">Go back</a></span>

<div class="container-mood">
  <div class="form-container">
    <h1>How are you today?</h1>
    <p>{{date}}</p>
    <form action="/mood/new/{{date}}" method="POST">
      <div class="input">
    
        <label for="mood"></label>
        <input type="text"  name="mood">

        <a class="btn"><button type="submit">Create your mood!</button></a>

      </div>
    </form>
  </div>

  <div class="your-day-mood">
    {{!-- <h3>Your day mood: </h3> --}}
    <ul>
      {{#each moods}}
        <div class="mood">
          <img class="doodle-mood" src="{{this.img}}" alt="{{this.img}}">
          <li>{{this.mood}}</li>
          {{!-- <li>{{this.date}}</li> --}}

          <form class="form-delete-mood" action="/new/delete/{{_id}}" method="POST">
            <a class="delete-mood"><button type="submit">Delete mood</button></a>
          </form>

           <form action="/edit-mood/{{this._id}}" method="GET">
            <button type="submit">Edit</button>
          </form>

        </div>
      {{/each}}
    </ul>
  </div>
 
  {{#if errorMessage}}
  <p>{{this.errorMessage}}</p> <a href=""></a>
  {{/if}}
</div>
<div class="default-moods">
  <div class="each-mood">
    <form class="form-doodle-mood" action="/mood/new/{{date}}" method="POST">
      <input type="text" name="mood" value="Happy" style="display: none;">
      <input type="text" name="img" value="https://i.ibb.co/Fgy3dv7/happy-mood.png" style="display: none;">
      <button class="button-doodle" type="submit"><img class="doodle-mood" src="https://i.ibb.co/Fgy3dv7/happy-mood.png" alt="happy-mood-icon"></button>
    </form>
    <p>Happy</p>
  </div>

  <div class="each-mood">
    <form class="form-doodle-mood" action="/mood/new/{{date}}" method="POST">
      <input type="text" name="mood" value="In love" style="display: none;">
      <input type="text" name="img" value="https://i.ibb.co/SmLW8Yd/love-mood.png" style="display: none;">
      <button class="button-doodle" type="submit"><img class="doodle-mood" src="https://i.ibb.co/SmLW8Yd/love-mood.png" alt="happy-mood-icon"></button>
    </form>
    <p>In love</p>
  </div>
  
   <div class="each-mood">
    <form class="form-doodle-mood" action="/mood/new/{{date}}" method="POST">
      <input type="text" name="mood" value="Confident" style="display: none;">
      <input type="text" name="img" value="https://i.ibb.co/NLh23Vf/confident-mood.png" style="display: none;">
      <button class="button-doodle" type="submit"><img class="doodle-mood" src="https://i.ibb.co/NLh23Vf/confident-mood.png" alt="happy-mood-icon"></button>
    </form>
    <p>Confident</p>
  </div>
  
  <div class="each-mood">
    <form class="form-doodle-mood" action="/mood/new/{{date}}" method="POST">
      <input type="text" name="mood" value="Angry" style="display: none;">
      <input type="text" name="img" value="https://i.ibb.co/qyvVsPN/angry-mood.png" style="display: none;">
      <button class="button-doodle" type="submit"><img class="doodle-mood" src="https://i.ibb.co/qyvVsPN/angry-mood.png" alt="angry-mood-icon"></button>
    </form>
    <p>Angry</p>
  </div>

  <div class="each-mood">
    <form class="form-doodle-mood" action="/mood/new/{{date}}" method="POST">
      <input type="text" name="mood" value="Sad" style="display: none;">
      <input type="text" name="img" value="https://i.ibb.co/v1cdS4s/sad-mood.png" style="display: none;">
      <button class="button-doodle" type="submit"><img class="doodle-mood" src="https://i.ibb.co/v1cdS4s/sad-mood.png" alt="angry-mood-icon"></button>
    </form>
    <p>Sad</p>
  </div>

   <div class="each-mood">
    <form class="form-doodle-mood" action="/mood/new/{{date}}" method="POST">
      <input type="text" name="mood" value="Confused" style="display: none;">
      <input type="text" name="img" value="https://i.ibb.co/hFLGg8r/confused-mood.png" style="display: none;">
      <button class="button-doodle" type="submit"><img class="doodle-mood" src="https://i.ibb.co/hFLGg8r/confused-mood.png" alt="angry-mood-icon"></button>
    </form>
    <p>Confused</p>
  </div>
</div>


